*,
*:after,
*:before {

    padding: 0;
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    -moz-user-select: -moz-none;
    
    text-rendering: optimizeLegibility;
    
    -webkit-appearance: carret;    
    /*-webkit-appearance: none; /* alernatively */*/
    
    
}

body, html, input, textarea{
  font-family: sans-serif;
  font-size: 16px;
}

.wrapper{
  width: 1024px;
  height: 768px;
  
  background-color: #FF8200;
  
  /*transform-origin: top left 0;*/
  position: relative;
  /*-ms-transform: scale(1,1);*/ /* IE 9 */
  /*-webkit-transform: scale(1,1);*/ /* Chrome, Safari, Opera */
  /* transform: scale(1,1);*/
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  z-index: 1;
}

.bsq-button{
  position: absolute;
  z-index: 2;
  
  line-height: 42px;
  text-align: center;
  
  padding: 0 30px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  
  cursor: pointer;
}

.animated {
/*  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
  
  -webkit-transition: 0.1s ease all;
}


.bsq-button:active{
  background: white;
  color: #FF8200;
  
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);

}

.bsq-game-button{
  width: 140px;
  height: 140px;
  
  background: url('../img/ICON00.png');
  background-repeat: no-repeat;
  
  cursor: pointer;
}
.bsq-game-button:active{
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
  transform: scale3d(0.7, 0.7, 0.7);

}

.bsq-hidden-button{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  
  z-index: 999;
}

.bsq-hidden-button-left-top{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  
  z-index: 999;
}

.page{
  display: none;
}

.home{
  width: 100%;
  height: 100%;
}
.home .left{
  height: 100%;
  width: 50%;
  float: left;
}
.home .right{
  height: 100%;
  width: 50%;
  float: right;
}
.home .btnMenu{
  font-size: 40px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}
.home .menu{
  position: absolute;
  top: 300px;
  right: 100px;
}
.home .btnStart{
  position: absolute;
  bottom: 200px;
  left: 200px;
  font-size: 52px;
}
.play{  
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.top{
  width: 100%;  
  
  position: absolute;
  top: 0;
  
  z-index: 2;
}
.game{

width: 580px;
margin: 0 auto;
position: absolute;
z-index: 2;
left: 50%;
top: 140px;
-webkit-transform: translateX(-50%);

}
.game ul{
  list-style: none;
}
.game li{
  float: left;
  margin: 1px;
}
.finish{
  width: 100%;
  height: 100%;
}
.finish .menu{
  position: absolute;
  bottom: 150px;
  font-size: 24px;
  left: 480px;
  width: 300px;
}
.finish .btnRePlay{
  float: left;
}
.finish .btnExit{
  float: right;
}

.bigBtn{
  width: 275px /*27.8%*/;
}
.middleBtn{
  width: 221px /*22.96%*/;
}
.smallBtn{
  width: 185px /*17.65%*/;
}
.verysmallBtn{
  width: 149px /*14.21%*/;
}

.btn-game{    
  text-align: center;
  vertical-align: middle;  
  color: #E08441;
  float: left;
}
.btn-game img{  
  display: none;
  border: 0 none;
  
  width: 140px;
  height: 140px;
}
.btn-touched{  
  color: #FFFFFF;
  
}
.btn-touched img{
  display:inline;
}